@page
@using Microsoft.Extensions.Localization
@using NecnatAbp.Br.GePessoaFisica.Localization
@using NecnatAbp.Br.GePessoaFisica.Web.Pages.GePessoaFisica
@model NecnatAbp.Br.GePessoaFisica.Web.Pages.GePessoaFisica.IndexModel
@inject IStringLocalizer<GePessoaFisicaResource> L

@{
}
<h1>GePessoaFisica</h1>
<p>@L["SamplePageMessage"]</p>
