@page "/GePessoaFisica"
@using Microsoft.Extensions.Localization
@using global::NecnatAbp.Br.GePessoaFisica.Localization
@inject IStringLocalizer<GePessoaFisicaResource> L
@{
}
<h1>GePessoaFisica</h1>
<p>@L["SamplePageMessage"]</p>